{% extends 'base.html.twig' %}

{% block title %}
	Récapitulatif de votre commande
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Récapitulatif de votre commande</h1>
		<a href="{{ path('app.cart.index') }}" class="btn btn-primary my-3">Retour au panier</a>
		<div class="row">
			<div class="col-md-8">
				<twig:ListItem order="{{ cart }}"/>
			</div>
			<div class="col-md-4">
				<twig:CartTotal cart="{{ cart }}"/>
			</div>
		</div>
		{{ form_start(form) }}
		<button type="submit" data-turbo="false" class="btn d-block btn-primary w-75 mx-auto mt-2">Payer la commande</button>
		{{ form_end(form) }}
	</section>
{% endblock %}
