<div class="col-md-4">
	<div class="card">
		<img src="{{ vich_uploader_asset(produit) }}" alt="{{ produit.title }}" loading="lazy" class="rounded-top">
		<div class="card-body">
			<a href="#">
				<h2 class="card-title">{{ produit.title }}</h2>
			</a>
			<div class="d-flex gap-2 flex-wrap align-items-center">
				{% for categorie in produit.categories %}
					<span class="badge bg-secondary">{{ categorie.name }}</span>
				{% endfor %}
			</div>
			<p class="card-text">{{ produit.shortDescription|sanitize_html }}</p>
			<p class="card-text text-secondary mt-2">
				<strong>{{ produit.priceTTC|format_currency('EUR') }}</strong>
			</p>
			<a href="#" class="btn btn-primary mt-2">En savoir plus</a>
		</div>
	</div>
</div>
