{% extends 'base.html.twig' %}

{% block title %}
	Créer un compte
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Créer un compte</h1>
		{{ form_start(form, {attr: {class: 'card p-3 w-75 mx-auto mt-4'}}) }}
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.firstName) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.lastName) }}
			</div>
		</div>
		{{ form_widget(form) }}
		<button class="btn btn-primary">S'inscrire</button>
		{{ form_end(form) }}
	</section>
{% endblock %}
